<#import "/spring.ftl" as spring/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          type="text/css" href="<@spring.url '/css/style.css'/>"/>
</head>
<body>
<h1>Welcome</h1>

<a href="<@spring.url '/agent/list'/>">Agent List</a>
<a href="<@spring.url '/filiation/list'/>">Filiation List</a>
<a href="<@spring.url '/contract/list'/>">Contract List</a>



</body>
</html>